<div class="container mt-5">

    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Envoyer une demande</h3>
        </div>
        <div class="panel-body">

            <form action="designer-finish.html" class="form-horizontal" role="form">


                <!-- form-group // -->
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Adresse Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="email" id="email" placeholder="">
                    </div>
                </div>
                <!-- form-group // -->
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Sujet</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="sujet" id="sujet" placeholder="">
                    </div>
                </div>
                <!-- form-group // -->
                <div class="form-group">
                    <label for="about" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <!-- form-group // -->
                <hr>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-warning">Envoyer</button>
                    </div>
                </div>
                <!-- form-group // -->
            </form>

        </div>
        <!-- panel-body // -->
    </section>
    <!-- panel// -->


</div>
<!-- container// -->