<div class="container ml-5">
    <form class="form-horizontal mt-5">
        <fieldset>

            <!-- Form Name -->
            <legend>Add Product</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="productName">Product Name</label>
                <div class="col-md-4">
                    <input id="productName" name="productName" type="text" placeholder="" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="category">Category</label>
                <div class="col-md-4">
                    <select id="category" name="category" class="form-control">
                        <option value="Smartphone">Smartphone</option>
                        <option value="Computer">Computer</option>
                        <option value="TV">TV</option>
                        <option value="Watch">Watch</option>
                        <option value="ELECTROMENAGER">Electromenager</option>
        </select>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="description" name="description">Describe your product</textarea>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="rentalPrice">Rental Price</label>
                <div class="col-md-4">
                    <input id="rentalPrice" name="rentalPrice" type="text" placeholder="TND" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="SellPrice">Selling Price</label>
                <div class="col-md-4">
                    <input id="SellPrice" name="SellPrice" type="text" placeholder="TND" class="form-control input-md" required="">

                </div>
            </div>

            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="filebutton">Primary Image</label>
                <div class="col-md-4">
                    <input id="filebutton" name="filebutton" class="input-file" type="file">
                </div>
            </div>

            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="filebutton">Other Images</label>
                <div class="col-md-4">
                    <input id="filebutton" name="filebutton" class="input-file" type="file">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-warning">Confirm</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>